*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-size-heading: 3.75rem;
  --font-size-body: 1.125rem;
  --font-size-button: 1rem;
  --font-size-small-text: 0.875rem;
  --font-weight-bold: 600;
  --font-weight-medium: 500;
  --text-underline-offset: 0.4em;
  --text-decoration-thickness: 0.15em;
  --color-background: #f2f9fe;
  --color-check-mark: #4ca154;
  --color-text: #223344;
  --color-1: #2a4dd0;
  --light-dark-button-dimension: max(
    24px,
    1.5rem
  ); /*1.5rem ensures that it will enlarge when the html font-size enlarges as well in the media queries*/
  --header-height: 7vh;
  --hero-img-width: clamp(365px, 45vw, 730px);
}

html {
  font-family: "Poppins", serif;
  font-size: 16px;
  color: var(--color-text);
}

body {
  width: min(90%, 1920px);
  margin: auto;
}

/* HEADER LAYOUT */
header {
  min-height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main {
  min-height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: max(1rem, 3vw);

  list-style: none;
}
.light-dark-mode-button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #223344;
  border-radius: 30px;
}
.sun-img {
  background-color: var(--color-background);
  border-radius: 100%;
}
.sun-img,
.moon-img {
  width: var(--light-dark-button-dimension);
  height: var(--light-dark-button-dimension);
}

/* HERO LAYOUT */
.hero {
  display: grid;
  grid-template-columns: 1fr var(--hero-img-width);
}

.hero__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.get-started-button {
  padding: 0.7em 2em;
  color: white;
  background-color: var(--color-1);
  text-decoration: none;
  border-radius: 0.7em;
}
.hero__pro__text::before {
  content: url(resources/Done_ring_round_fill.svg);
}
.hero__pros {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.hero__pro__text {
  display: flex;
  align-items: center;
  gap: 0.5em;
  line-height: 0; /* Helps align check mark with text*/
}

.hero__img {
  width: var(--hero-img-width);
  height: auto;
}
/* MODULES */
picture,
img {
  display: block;
}

/* TYPOGRAPHY */
.logo__text {
  font-size: 1.5rem;
  font-weight: 700;
}

.navigation__item {
  font-size: var(--font-size-small-text);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  text-decoration: none;
}
.navigation__item--active,
.get-live-demo-button {
  color: var(--color-1);
  text-decoration: underline;
  text-underline-offset: var(--text-underline-offset);
  text-decoration-thickness: var(--text-decoration-thickness);
}

.hero__slogan {
  font-size: var(--font-size-small-text);
  font-weight: var(--font-weight-bold);
}
.hero__title {
  font-size: var(--font-size-heading);
}
.hero__description {
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-medium);
}
.hero__pro__text {
  font-size: var(--font-size-small-text);
  font-weight: var(--font-weight-bold);
}
.hero__button {
  font-size: var(--font-size-button);
}
.get-started-button {
  font-weight: var(--font-weight-medium);
}
.get-live-demo-button {
  font-weight: var(--font-weight-bold);
}
